*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @media (min-width: $tablet-bp) {
    font-size: 18px;
  }

}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: $text-color;
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

ul,
ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}
