.flex {
  display: flex;

  &--col {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }

  &--center-x {
    justify-content: center;
  }

  &--center-y {
    align-items: center;
  }

  &--separate {
    justify-content: space-between;
  }

}

.margin {
  &--none {
    margin: 0;
  }
}

%img-box {
  background-color: $light-gray;
  border-radius: 4px;
  height: 32px;
  margin-right: 8px;
  width: 32px;
}